#!/bin/bash

# Disable selinux
sed -i 's/enforcing/permissive/g' /etc/selinux/config
setenforce 0

yum makecache fast
yum -y install gcc gcc-c++ python-devel systemd-python epel-release
yum -y install python-pip m2crypto

cat << EOF > /etc/yum.repos.d/salt.repo
[saltstack-repo]
name=SaltStack repo for Red Hat Enterprise Linux \$releasever
baseurl=https://repo.saltstack.com/yum/redhat/\$releasever/\$basearch/latest
enabled=1
gpgcheck=1
gpgkey=https://repo.saltstack.com/yum/redhat/\$releasever/\$basearch/latest/SALTSTACK-GPG-KEY.pub
       https://repo.saltstack.com/yum/redhat/\$releasever/\$basearch/latest/base/RPM-GPG-KEY-CentOS-7
EOF

gsutil -m rsync -r gs://${bucket_name}/salt /srv

mv /srv/states /srv/salt

mkdir /var/log/salt
mkdir /etc/salt

cat << EOF > /srv/pillar/stack.sls
stack:
  stackname: ${stack_name}
EOF

echo -n "  master_address: " >> /srv/pillar/stack.sls
ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/' >> /srv/pillar/stack.sls

cat << EOF > /etc/salt/grains
stack:
  node_type: master
  profiles: [ ${salt_profiles} ]
EOF

cat << EOF > /etc/salt/minion
master: 127.0.0.1

EOF

cat << EOF > /etc/salt/master
interface: 0.0.0.0
autosign_file: /etc/salt/autosign.conf
reactor:
  - 'salt/minion/${stack_name}-*/start':
    - /srv/reactor/auth-complete.sls

EOF

cat << EOF > /etc/salt/autosign.conf
*
EOF

yum install -y salt-master salt-minion salt-ssh salt-syndic salt-cloud

salt-call --local state.highstate

systemctl daemon-reload
systemctl enable salt-master
systemctl enable salt-minion

systemctl start salt-master
sleep 5
systemctl start salt-minion

